<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for(:page_title)? yield(:page_title) : 'Административная панель' %>
    </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'administrate', media: 'all' %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <meta charset="utf-8" />
  </head>

  <body>
    <script type="text/javascript" charset="utf-8">
      var $sharedVariables = {products: {hello: 'hello world!'}}
    </script>

    <%= yield :local_variables %>

    <div id="root" class="container administrate__container">
      <%= yield %>
    </div>
  </body>
</html>
